.authentication {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* position: relative; */
  /* border-radius: 2.5%; */
  background-color: #ebedf3;
  padding: 35px 20px;
  width: 320px;
  height: 550px;
}

.right {
  border-radius: 0 2.5% 2.5% 0;
}

.left {
  border-radius: 2.5% 0 0 2.5%;
}

.auth-sidebar {
  background: linear-gradient(-45deg, #000000 15%, #a03b00 50%, #ff5e00 65%, #ffa500 100%);
  background-size: 200% 200%;
  font-size: 0.8em;
  width: 320px;
  height: 550px;
  padding: 35px 20px;
  z-index: 1;
}

.bg-black {
  background: linear-gradient(-45deg, #000000 15%, #a03b00 50%, #ff5e00 65%, #ffa500 100%);
  background-size: 200% 200%;
  background-position: 100% 100%;
}

.authbar-from-left {
  animation: leftToRight 0.7s ease-in-out;
}

.authbar-from-right {
  animation: rightToLeft 0.7s ease-in-out;
}

.sidebar-from-left {
  animation: bgChangeLeftToRight 0.7s ease-in-out;
}

.sidebar-from-right {
  animation: bgChangeRightToLeft 0.7s ease-in-out;
}

/* animation */

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    border-radius: 2.5% 0 0 2.5%;
  }
  50% {
    border-radius: 0px;
    /* transform: translateX(-50%); */
  }
  100% {
    transform: translateX(0%);
    border-radius: 0 2.5% 2.5% 0;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
    border-radius: 0 2.5% 2.5% 0;
  }
  50% {
    border-radius: 0px;
    /* transform: translateX(50%); */
  }
  100% {
    transform: translateX(0%);
    border-radius: 2.5% 0 0 2.5%;
  }
}

@keyframes bgChangeLeftToRight {
  0% {
    transform: translateX(-100%);
    border-radius: 2.5% 0 0 2.5%;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 0px;
  }
  100% {
    transform: translateX(0%);
    background-position: 100% 100%;
  }
}

@keyframes bgChangeRightToLeft {
  0% {
    transform: translateX(100%);
    border-radius: 0 2.5% 2.5% 0;
    background-position: 100% 100%;
  }
  50% {
    border-radius: 0px;
  }
  100% {
    transform: translateX(0%);
    background-position: 0% 0%;
  }
}
