.button {
  font-size: 20px;
  margin: 25px 0;
  padding: 0.4em 1.5em;
  background-color: orange;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 3px -1px black;
  color: black;
  width: 100%;
  cursor: pointer;
}

.button:active {
  transition: 100ms;
  box-shadow: none;
}

.btn-auth {
  background-color: transparent;
  box-shadow: none;
}

.btn-auth:active {
  border: 1px solid transparent;
}

.border-black {
  border: 1px solid #000000;
}

.border-black:active {
  background-color: black;
  color: orange;
}

.border-orange {
  border: 1px solid orange;
  color: orange;
}

.border-orange:active {
  background-color: orange;
  color: black;
}

.text-orange {
  color: orange;
}

.header-authentication {
  text-align: center;
  margin-bottom: 20px;
  /* position: absolute;
  top: 20px;
  left: 0;
  right: 0; */
}

.header-authentication h1 {
  margin: 0;
}

.header-authentication p {
  margin-top: 0px;
}

.input-custom {
  margin: 5px 0 13px;
}

.line {
  width: 95%;
}

.line-black {
  border-top: 1px solid black;
}

.line-orange {
  border-top: 1px solid orange;
}

.social-media {
  text-align: center;
}

.btn-custom {
  height: 13%;
  font-size: 35px;
  color: orange;
  background-color: black;
  border: none;
}

.btn-custom:active {
  background-color: transparent !important;
}

.btn-custom.login:active {
  color: black !important;
}

.btn-custom.register:active {
  color: orange !important;
}

.redirect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.forgot-password {
  margin: -15px 0 25px;
  cursor: pointer;
}

.color-orange {
  color: orange;
}
